@import "~bootstrap/scss/bootstrap";


.App{
    margin-top: 80px;
}


.textalign-right{
    text-align: right;
}

#grid_layout{
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
}

.history-container{
    border-bottom: 2px dashed black;
    .list-group-item{
        border: 0;
        font-size: 14px;
    }
}


@media only screen and (min-width:1200px) {
    .App{
        width: 70%;
        margin: 80px auto 0;
    }
}